@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DFE CI-CD Training</h1>
        <h1 class="display-4">By Deepanshu Pasrija</h1>
    <h1 class="display-4">Join us today for the leraning</h1>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core and python.</a>.</p>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core and python.</a>.</p>

        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core and python.</a>.</p>

</div>
